
.vs/
.vs2019/
.vs2017/
.vs2015/
.idea/
.vscode/

.vscode/

*.cab
*.msi
*.msm
*.msp

app.publish/

*.user
*.userosscache
*.suo
*.userprefs

*.cab
*.msi
*.msm
*.msp

packages/

bin/
obj/

Scaffolding/

node_modules/

.DS_Store

Thumbs.db

report.md
ollama_models/
